#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  height:fit-content;
  width: 90vw;
  border: solid grey 2px;
}

ul {
	list-style-type: none;
}

#areaList {
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}
