#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  height: 90%;
  width: 100%;
  border: solid grey 2px;
  padding: 20px;
}

.outcodeEntry {
  width: 400px;
}

.cardContainer {
  margin-top: 30px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
