#root {
  max-width: auto;
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
}

.App {
  height: 90vh;
  width: 90vw;
  border: solid grey 2px;
}

.searchField,
.searchButton {
  padding: 5px;
  font-size: large;
}
